@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* Brand Colors */
  --color-jute-base: #FAEDCD;
  --color-terracotta: #D4A373;
  --color-forest-slate: #2F4F4F;
  --color-soft-leaf: #CCD5AE;

  /* Typography Integration */
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

@layer base {
  /* Custom DaisyUI Theme */
  [data-theme="hopetheme"] {
    color-scheme: light;
    --primary: #D4A373;
    --secondary: #2F4F4F;
    --accent: #CCD5AE;
    --neutral: #2F4F4F;
    --base-100: #FAEDCD;
  }
}